[Unit]
Description=Mavi VPN Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mavi-vpn daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
